<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$title = '';
if (trim($block->getPageHeading())) {
    // $title = '<span class="base" data-ui-id="page-title-wrapper" ' .  $block->getAddBaseAttribute() . 'style="font-weight: 400;">'
    //     . $block->escapeHtml($block->getPageHeading()) . '</span>';
         $title =$block->escapeHtml($block->getPageHeading());
}
?>
<?php if ($title): ?>
<div class="page-title-wrapper<?php /* @escapeNotVerified */ echo $cssClass; ?>">
	<div class="container">

		<h4 class="page-title"
			<?php if ($block->getId()): ?> id="<?php /* @escapeNotVerified */ echo $block->getId();?>" <?php endif; ?>
			<?php if ($block->getAddBaseAttributeAria()): ?>
				aria-labelledby="<?php /* @escapeNotVerified */ echo $block->getAddBaseAttributeAria(); ?>"
			<?php endif; ?> style=" margin-top: 23px;color: black;">
			<?php /* @escapeNotVerified */ if($title == 'ลงชื่อเข้าใช้'){ $title = ""; } echo $title ?>
		</h4>
		<?php echo $block->getChildHtml(); ?>
	</div>
</div>
<?php endif; ?>
