<?php
/**
 * Copyright © 2016 TuanHatay. All rights reserved.
 */

?>
<?php
/**
 * Top menu for store
 *
 * @see \Rokanthemes\VerticalMenu\Block\Verticalmenu
 */
?>
<?php
    $_helper = $this->helper('Rokanthemes\VerticalMenu\Helper\Data');
    $_config = $_helper->getConfig('verticalmenu');
    $columnsLimit = 0;
    if($_config['general']['enable']) {
?>
<?php $_menu = $block->getVerticalMenuHtml(); ?>

<nav class="navigation verticalmenu side-verticalmenu">
	<h2 class="title-category-dropdown"><span><?php echo __('ประเภทสินค้าทั้งหมด'); ?></span></h2>
    <ul class="togge-menu list-category-dropdown" style="display:none;margin-top: 5px;">
    	<h4 class="tba-title-category-dropdown">สินค้าของเรา</h4>
        <?php 	echo $_menu;  ?>
        <!-- <div class="tba_menu_additionnal">
			<?php 
					echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('tba_information_container')->toHtml();
			?>
		</div> -->
	</ul> 
        <?php echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('tba_information_container')->toHtml();?>

</nav>

<script type="text/javascript">
    require([
        'jquery',
        'rokanthemes/verticalmenu'
    ], function ($) {
        $(".verticalmenu").VerticalMenu();
		$('.cms-index-index .navigation.verticalmenu .togge-menu').show();
		$('.title-category-dropdown').click(function(event){
			$('.navigation.verticalmenu .togge-menu').slideToggle('slow');
			$(this).toggleClass('active');
		});
		$( document ).ready(function() {
			var lenghtLi = $('.cms-index-index .navigation.verticalmenu .ui-menu-item.level0').length;
			var limitItemShow = <?php echo $block->getConfig('limit_show'); ?>;
			if(lenghtLi > limitItemShow)
			{
				$('.navigation.verticalmenu .ui-menu-item.level0').each(function( index ) {
					if(index >= (limitItemShow - 1))
					{
						$(this).addClass('orther-link');
						$(this).hide();
					}
				});
				$('.navigation.verticalmenu .expand-category-link').show();
				$('.navigation.verticalmenu .expand-category-link').on( "click", function() {
					$(this).toggleClass('expanding');
					$('.navigation.verticalmenu .ui-menu-item.level0.orther-link').slideToggle('slow');
				});
			}
			$('.navigation.verticalmenu .title-category-dropdown').toggleClass('disabled');
			$('.navigation.verticalmenu .togge-menu').hide();

			$(window).click(function() {
				$('.navigation.verticalmenu .togge-menu').hide();
			});

			$('.verticalmenu').click(function(event){
			    event.stopPropagation();
			});



		});
    });
</script>
<?php
    }
?>
