<div class="shipping-address-item" data-bind="css: isSelected() ? 'selected-item' : 'not-selected-item'">
    <div class='input-wrapper'>
        <input class="radio"
               type="radio"
               data-bind="
                  attr: {
                    checked: isSelected(),
                    'value' : ''
                  }" />
        <div class='input-mask' data-bind="click: selectAddress"></div>
    </div>
    <div class="address-detail"  data-bind="click: selectAddress" style="line-height: 15px;">
        <h5 class="customer-name">
        <!-- ko text: address().prefix --><!-- /ko --> <!-- ko text: address().firstname --><!-- /ko -->
        <!-- ko text: address().lastname --><!-- /ko --> <!-- ko text: address().suffix --><!-- /ko --></h5>
        <div style="font-size: smaller;">
        <!-- ko text: address().street --><!-- /ko -->
        <!-- ko text: address().city --><!-- /ko -->, <!-- ko text: address().region --><!-- /ko --> <!-- ko text: address().postcode --><!-- /ko -->
        <!-- ko text: getCountryName(address().countryId) --><!-- /ko -->,
        <!-- ko text: address().telephone --><!-- /ko -->
        </div>
    </div>
    <div class='actions'>
        <!-- ko if: (address().isEditable() && !isFormPopUpVisible()) -->
        <button type="button"
                class="action edit-address-link osc-edit-button"
                data-bind="click: editAddress, visible: address().isEditable()">
            <span data-bind="i18n: 'Edit'"></span>
        </button>
        <!-- /ko -->
    </div>
    <div class='clear'></div>
</div>
