<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<div class="newsletter-footer">
  	<!--<label><?php /* @escapeNotVerified */ //echo __('newsletter') ?></label>
    <form class="form- subscribe-"
    novalidate
    action="<?php /* @escapeNotVerified */ //echo $block->getFormActionUrl() ?>"
    method="post"
    data-mage-init='{"validation": {"errorClass": "mage-error"}}'
    id="newsletter-validate-detail">
    <div class="field newsletter">
      <div class="control">
        <input name="email" type="email" id="newsletter"
        placeholder="<?php /* @escapeNotVerified */ //echo __('Enter your mail') ?>"
        data-validate="{required:true, 'validate-email':true}"/>

      </div>
      <div class="actions">
        <button class="action subscribe primary" title="<?php /* @escapeNotVerified */ //echo __('Subscribe') ?>" type="submit">
          <?php //echo __('Subscribe'); ?>
        </button>
      </div>
    </div>
  </form>-->
</div>
