<?php 
	use Magento\Framework\App\Action\Action;
	$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
	$category_load = $block->getCategory();
	if($category_load && strtotime($block->getConfig('end_date')) >= strtotime($block->getCurrentTime())){ 
		$image = 'new_products_content_widget_grid';
?>
		<h2><?php echo __('Hot deal!')?></h2>
<div class="hot-deal-tab-slider hot-deal-tab-slider-customcss">
	<div class="row">
		<div class="hot-deal-slide">
			<?php 
				$newItems =  $block->getProducts();
			?>
			<?php
			foreach($newItems as $_item) {
			?>

			<div class="hot-deal-tab">
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="hot-deal-image">
						<div class="content-item-product">
							<div class="product-thumb">
								<a href="<?php /* @escapeNotVerified */ echo $_item->getProductUrl() ?>" class="product-thumb-link">
									<?php 			
									   $productImage = $block->getImage($_item, $image);
									   $productImageThumb = $block->getImage($_item, 'category_page_grid-1');
									 ?>
									<span class="first-thumb">
										<?php echo $productImage->toHtml(); ?>
									</span>
									<span class="second-thumb">
										<?php echo $productImageThumb->toHtml(); ?>
									</span>
								</a>
								<div class="quickview-product">
										<a  data-role="quickview-button" data-id="<?php echo $_item->getId(); ?>" href="javascript: void(0);" data-href="<?php echo $block->getUrl('quickview/product/quickview/id/' . $_item->getId()) ?>" title="<?php echo __('Quick view');?>">Quick view</a>
								    </div>
							</div>
						</div>
					</div>
				</div>		
				<div class="col-md-12 col-sm-12 col-xs-12">
					<div class="woocommerce-hot-deal">
						<div class="product-info">
							
							
							<div class="super-deal-countdown" data-date="<?php echo $block->getConfig('end_date');?>"></div>
						</div>
						<div class="hot-deal-tab-title">
							<p><?php echo $block->getConfig('description');?></p>
							<h3 class="title-product">
								<a title="<?php echo $block->escapeHtml($_item->getName()) ?>"
								   href="<?php echo $block->getProductUrl($_item) ?>"
								   class="product-item-link">
									<?php echo $block->escapeHtml($_item->getName()) ?>
								</a>
							</h3>
						</div>
						
						<!-- <div class="desc"><?php //echo $block->softTrim($block->escapeHtml(strip_tags($_item->getShortDescription())), 70); ?></div> -->
							<div class="product-rating">
														<?php if ($templateType): ?>
					   										<?php echo $block->getReviewsSummaryHtml($_item, $templateType,true); ?>
					   									<?php endif; ?>
													</div>
							<div class="info-price">
								<?php /* @escapeNotVerified */ echo $this->helper('Rokanthemes\Themeoption\Helper\Data')->getPriceDisplayCustom($block->getProductPrice($_item)) ?>
								
							</div>
					
					</div>
				</div>
			</div>
			<?php } ?>
		</div>
	</div>
	<!-- <a href="<?php //echo $category_load->getUrl();?>" class="view-all-deal" data-hover="<?php //echo __('View All') ?>"><span><?php //echo __('View All') ?></span></a> -->
</div>
<script type="text/javascript">
require(["jquery", 'mage/mage','rokanthemes/timecircles', "rokanthemes/owl"], function($){
	'use strict';
    // require([
    //     'jquery',
    //     'rokanthemes/timecircles'
    // ], function ($) {
		$( document ).ready(function() {
			$(".hot-deal-slide").owlCarousel({
	        items: 1,
	         	itemsDesktop : [1199, 1],
		        itemsDesktopSmall : [991, 1],
		        itemsTablet : [767, 1],
		        itemsMobile : [479, 1],
	        navigation : true,
	         afterAction: function(el){
		     this.$owlItems.removeClass('first-active')
		     this.$owlItems .eq(this.currentItem).addClass('first-active')  
		  }
	    });

			if($('.super-deal-countdown').length>0){
				$(".super-deal-countdown").TimeCircles({
					fg_width: 0.01,
					bg_width: 1.2,
					text_size: 0.07,
					circle_bg_color: "#ffffff",
					time: {
						Days: {
							show: true,
							text: "Days",
							color: "#f9bc02"
						},
						Hours: {
							show: true,
							text: "Hours",
							color: "#f9bc02"
						},
						Minutes: {
							show: true,
							text: "Mins",
							color: "#f9bc02"
						},
						Seconds: {
							show: true,
							text: "Secs",
							color: "#f9bc02"
						}
					}
				}); 
			}
		});
    });
</script>
<?php } ?>