<!--@subject {{trans "Your subscribed product is now in stock"}} @-->
{{template config_path="design/email/header_template"}}

<table style="float:left; margin-right: 10px" class="fue-abc-items">
    <tr>
        <td>{{trans "Hi,"}}</td>
    </tr>
    <tr>
        <td>{{trans "Your subsribed product is now in stock you can check here: "}} <a href="{{var product_url}}">{{var product_name}}</a></td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}